@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/variables.css";
@import "../styles/animations.css";

html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

canvas {
  display: block;
}

section {
  position: relative;
}
